

{
  
  
   "presets": [ 
   
     
    [
      "@babel/preset-env",
      {
        "debug": true,
        "bugfixes" : true,
		"useBuiltIns": "usage",
        "corejs": 3
      }
    ],
   
    [ 
	   
	   "@babel/preset-react"
	
	],
	
	
	[
	
	  "@babel/preset-typescript"
	  
	]
	

   
   ]
  
}
